@page
@inject Examensarbete.Data.ApplicationDbContext _context;
@model Examensarbete.Pages.Material.IndexModel

@{
    ViewData["Title"] = "Index";
    ViewData["IsAdminSection"] = true;
}
<div class="mt-3 mb-3">
    <h2>Material</h2>
</div>
<a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createMaterialModal">Skapa nytt material</a>

<div class="row">
    <div class="col-md-12">
        <div class="card-body">
            <table id="orderDataTable" class="table table-striped table-bordered">
                <thead>
                    <tr class="text-center">
                        <th>Id</th>
                        <th>Typ</th>
                        <th>Förvald Produktionsprocess</th>
                        <th>Åtgärd</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Material)
                    {
                        <tr>
                            <td class="text-center">@item.Id</td>
                            <td class="text-center">@item.Type</td>
                            <td class="text-center">
                                @if (item.DefaultProductionProcess.Length > 45)
                                {
                                    @Html.Raw(item.DefaultProductionProcess.Substring(0, 45) + "...")
                                }
                                else
                                {
                                    @item.DefaultProductionProcess
                                }
                            </td>


                            <td class="text-center"><a href="@Url.Page("./Details", new { id = item.Id })">Info</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Material Create Modal -->
<div class="modal fade" id="createMaterialModal" tabindex="-1" aria-labelledby="createMaterialModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-bold" id="createMaterialModalLabel">Skapa nytt material</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" asp-page-handler="Create">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group mb-2">
                                <label asp-for="NewMaterial.Type" class="control-label fw-bold"></label>
                                <input asp-for="NewMaterial.Type" class="form-control" />
                                <span asp-validation-for="NewMaterial.Type" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group mb-2">
                                <label asp-for="NewMaterial.DefaultProductionProcess" class="control-label fw-bold"></label>
                                <input asp-for="NewMaterial.DefaultProductionProcess" class="form-control" />
                                <span asp-validation-for="NewMaterial.DefaultProductionProcess" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-2">
                                <label asp-for="NewMaterial.EFMaterialNew" class="control-label fw-bold"></label>
                                <input asp-for="NewMaterial.EFMaterialNew" class="form-control" />
                                <span asp-validation-for="NewMaterial.EFMaterialNew" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-2">
                                <label asp-for="NewMaterial.EFMaterialRecycled" class="control-label fw-bold"></label>
                                <input asp-for="NewMaterial.EFMaterialRecycled" class="form-control" />
                                <span asp-validation-for="NewMaterial.EFMaterialRecycled" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-2">
                                <label asp-for="NewMaterial.EFProductionProcess" class="control-label fw-bold"></label>
                                <input asp-for="NewMaterial.EFProductionProcess" class="form-control" />
                                <span asp-validation-for="NewMaterial.EFProductionProcess" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-2">
                                <label asp-for="NewMaterial.EFEoLIncineration" class="control-label fw-bold"></label>
                                <input asp-for="NewMaterial.EFEoLIncineration" class="form-control" />
                                <span asp-validation-for="NewMaterial.EFEoLIncineration" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-2">
                                <label asp-for="NewMaterial.EFEoLRecycling" class="control-label fw-bold"></label>
                                <input asp-for="NewMaterial.EFEoLRecycling" class="form-control" />
                                <span asp-validation-for="NewMaterial.EFEoLRecycling" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-2">
                                <label asp-for="NewMaterial.RecyclingRateAtEoL" class="control-label fw-bold"></label>
                                <input asp-for="NewMaterial.RecyclingRateAtEoL" class="form-control" />
                                <span asp-validation-for="NewMaterial.RecyclingRateAtEoL" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group mb-4">
                                <label asp-for="NewMaterial.RecycledContentInMaterial" class="control-label fw-bold"></label>
                                <input asp-for="NewMaterial.RecycledContentInMaterial" class="form-control" />
                                <span asp-validation-for="NewMaterial.RecycledContentInMaterial" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Stäng</button>
                        <button type="submit" class="btn btn-primary">Skapa material</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>




@section Scripts {

    <link href="https://cdn.datatables.net/v/bs5/dt-2.0.2/b-3.0.1/date-1.5.2/r-3.0.0/sl-2.0.0/datatables.min.css" rel="stylesheet">
    <script src="https://cdn.datatables.net/v/bs5/dt-2.0.2/b-3.0.1/date-1.5.2/r-3.0.0/sl-2.0.0/datatables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#orderDataTable').DataTable({
                "language": {
                    url: '//cdn.datatables.net/plug-ins/2.0.3/i18n/sv-SE.json'
                },
                "pageLength": 20
            });
        });
    </script>
}

@functions {

    public static string FormatValue(decimal value, bool isPercentage)
    {
        // Ifall det är ett värde som skall visas som %, sätt då till true annars false.
        return isPercentage ?
            (value == Math.Floor(value) ? $"{value:0}" : $"{value:0.0}") + "%" :
            value.ToString("0.####");
    }
}
