@page "{id:int}"
@model DetailsModel

@{
    ViewData["Title"] = "Order Details";
}

<div class="container">

    <h1>Orderdetaljer</h1>

    <div>
        <dl class="row">
            <dt class="col-sm-2">ID</dt>
            <dd class="col-sm-10">@Model.OrderData.Id</dd>

            <dt class="col-sm-2">Skapad</dt>
            <dd class="col-sm-10">@Model.OrderData.CreatedAt.ToString("yyyy-MM-dd")</dd>

            <dt class="col-sm-2">Orderdatum</dt>
            <dd class="col-sm-10">@Model.OrderData.OrderDate.ToString("yyyy-MM-dd")</dd>

            <dt class="col-sm-2">Beställningsgrupp</dt>
            <dd class="col-sm-10">@Model.OrderData.OrderGroup</dd>

            <dt class="col-sm-2">Delområden</dt>
            <dd class="col-sm-10">@Model.OrderData.SubArea</dd>

            <dt class="col-sm-2">Artikelbeskrivning</dt>
            <dd class="col-sm-10">@Model.OrderData.ItemDescription</dd>

            <dt class="col-sm-2">Matchad</dt>
            <dd class="col-sm-10">
                @if (Model.OrderData.ProductId.HasValue)
                {
                    <a href="@Url.Page("/Product/Details", new { id = Model.OrderData.ProductId })">
                        Visa produkt
                    </a>
                }
                else
                {
                    @:Ej matchad
                }
            </dd>

            <dt class="col-sm-2">Artikelnummer</dt>
            <dd class="col-sm-10">@Model.OrderData.ArticleNumber</dd>

            <dt class="col-sm-2">Leverantör</dt>
            <dd class="col-sm-10">@Model.OrderData.SupplierName</dd>

            <dt class="col-sm-2">Enhetstyp</dt>
            <dd class="col-sm-10">@Model.OrderData.UnitType</dd>

            <dt class="col-sm-2">Kvitterad kvantitet</dt>
            <dd class="col-sm-10">@Model.OrderData.ConfirmedQuantity</dd>

            <dt class="col-sm-2">Pris</dt>
            <dd class="col-sm-10">@Model.OrderData.Price</dd>

            <dt class="col-sm-2">Kvitterat nettobelopp</dt>
            <dd class="col-sm-10">@Model.OrderData.ConfirmedNetAmount</dd>

            <dt class="col-sm-2">Konto</dt>
            <dd class="col-sm-10">@Model.OrderData.Account</dd>

            <dt class="col-sm-2">Kostnadsställe</dt>
            <dd class="col-sm-10">@Model.OrderData.CostCenter</dd>

            <dt class="col-sm-2">Organisation</dt>
            <dd class="col-sm-10">@Model.OrderData.Organization</dd>



        </dl>
    </div>

    <div>
        <a asp-page="/Review">Tillbaka till listan</a>
    </div>
</div>
